<h1>Oh The Places You Go</h1>

<p>Here are all the places you've been, you worldly traveller.</p>

<ul>
  <% @places.each() do |place| %>
    <li><%= place.location() %></li>
  <% end %>
</ul>

<p>Enter places you've been:</p>

<form action="/places" method="post">
  <label for="location">Places</label>
  <input id="location" name="location" type="text">

  <button type="submit">Add Place</button>
</form>
